Repository chef/chef-server, pull requests merged in 2019-10, with the labels that each got.

#1706 update openresty
  omnibus_overrides.rb
Labels: Status: Waiting on Contributor

#1533 [chef-server-ctl] Install only appbundled version
  omnibus/config/software/private-chef-ctl.rb
Labels: Status: Waiting on Contributor

#1469 removing forcing of the doc formatter
  oc-chef-pedant/lib/pedant/config.rb
Labels: investigation-required

#1750 Add copy/paste execution strings for convenient builds
  omnibus/README.md
Labels: Priority: Low

#1748 upgrade rebar3 to 3.6.2
  src/bookshelf/rebar3
  src/chef-mover/rebar3
  src/oc_bifrost/rebar3
  src/oc_erchef/rebar3
Labels: Priority: Low, Status: Incomplete
