Repository chef/chef-server, pull requests merged in 2019-08, with the labels that each got.

#1712 [ci] Add artifactory to omnibus/Gemfile
  omnibus/Gemfile
Labels: Expeditor: Skip All

#1710 Fix logins to zendesk when user signups with a single name
  src/oc-id/lib/zendesk_sso_url.rb
  src/oc-id/spec/lib/zendesk_sso_url_spec.rb
Labels: Type: Bug

#1699 Doc updates
  doc/FrequentTasks.md
Labels: Status: Waiting on Contributor

#1700 Update the release process doc with current world process.
  RELEASE_PROCESS.md
Labels: Status: Waiting on Contributor

#1707 Enable RHEL 8 packages
  .expeditor/release.omnibus.yml
  omnibus/files/private-chef-cookbooks/private-chef/providers/pg_sqitch.rb
  omnibus_overrides.rb
Labels: Status: Waiting on Contributor
