Repository chef/chef-server, pull requests merged in 2020-12, with the labels that each got.

#2194 Remove Steven Danna from maintainers list
  MAINTAINERS.md
Labels: Expeditor: Skip All

#2199 Update the label configuration in the Expeditor config
  .expeditor/config.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#2201 Minor-ish docs config file fixes
  docs-chef-io/config.toml
Labels: Aspect: Documentation

#2203 Fix makefile in docs
  docs-chef-io/Makefile
Labels: Aspect: Documentation

#2202 2020 EOLs
  docs-chef-io/content/server/api_chef_server.md
  docs-chef-io/content/server/ctl_chef_server.md
  docs-chef-io/content/server/install_server_pre.md
  docs-chef-io/content/server/server_firewalls_and_ports.md
  docs-chef-io/content/server/server_security.md
  docs-chef-io/content/server/server_users.md
  docs-chef-io/content/server/upgrade_server.md
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v13_2/reusable_text/config_rb_server_settings_ldap.md
  docs-chef-io/content/server/v13_2/reusable_text/server_tuning_postgresql.md
  docs-chef-io/content/server/v14_0/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14_0/reusable_text/config_rb_server_settings_ldap.md
  docs-chef-io/content/server/v14_0/reusable_text/server_tuning_postgresql.md
Labels: Aspect: Documentation
