Repository chef/chef-server, pull requests merged in 2021-04, with the labels that each got.

#2408 Remove support for Ubuntu 16.04 + add Ubuntu FIPS
  .expeditor/release.omnibus.yml
  dev/Vagrantfile
Labels: Expeditor: Bump Version Minor

#2414 Update our TLS configuration docs
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v13_2/reusable_text/server_tuning_nginx.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_nginx.md
Labels: Expeditor: Skip Version Bump

#2420 Minor formatting updates
  docs-chef-io/content/server/api_chef_server.md
  docs-chef-io/content/server/v14/reusable_text/config_rb_server_settings_ldap.md
  docs-chef-io/content/server/v14/reusable_text/config_rb_server_summary.md
  docs-chef-io/content/server/v14/reusable_text/server_services_bifrost.md
  docs-chef-io/content/server/v14/reusable_text/server_services_bookshelf.md
  docs-chef-io/content/server/v14/reusable_text/server_services_erchef.md
  docs-chef-io/content/server/v14/reusable_text/server_services_expander.md
  docs-chef-io/content/server/v14/reusable_text/server_services_oc_id.md
  docs-chef-io/content/server/v14/reusable_text/server_services_postgresql.md
  docs-chef-io/content/server/v14/reusable_text/server_services_rabbitmq.md
  docs-chef-io/content/server/v14/reusable_text/server_services_redis.md
  docs-chef-io/content/server/v14/reusable_text/server_services_solr4.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_bookshelf.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_erchef.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_expander.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_general.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_nginx.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr_update_frequency.md
  docs-chef-io/content/server/v14/reusable_text/settings_strict_search_result_acls.md
Labels: Aspect: Documentation, Expeditor: Skip Version Bump

#2419 Update documentation for workstation keys
  docs-chef-io/content/server/auth.md
Labels: Aspect: Documentation, Expeditor: Skip Version Bump

#2425 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All
