Repository chef/chef-server, pull requests merged in 2021-07, with the labels that each got.

#2566 Update the release process to include updating release noted on the docs site
  RELEASE_PROCESS.md
Labels: Expeditor: Skip All

#2535 Upgrade rails from 4.2.11 to 6.0
  .license_scout.yml
  oc-chef-pedant/spec/api/oc_id_spec.rb
  src/oc-id/Gemfile
  src/oc-id/Gemfile.lock
  src/oc-id/app/controllers/profiles_controller.rb
  src/oc-id/app/controllers/v1/health_controller.rb
  src/oc-id/app/controllers/zendesks_controller.rb
  src/oc-id/app/views/profiles/_profile.html.erb
  src/oc-id/config/initializers/assets.rb
  src/oc-id/db/migrate/20140308061639_create_doorkeeper_tables.rb
  src/oc-id/db/migrate/20140313153625_change_column_type_for_resource_owner_id.rb
  src/oc-id/db/migrate/20180214142542_add_scopes_to_oauth_applications.rb
  src/oc-id/public/id/assets/.sprockets-manifest-6aa2ee40f263f0edf77577934de9acb9.json
  src/oc-id/public/id/assets/application-3804167616548175dbffb0cf223d509433d05632e85dfd685690e7445a9f6485.js
  src/oc-id/public/id/assets/application-3804167616548175dbffb0cf223d509433d05632e85dfd685690e7445a9f6485.js.gz
  src/oc-id/public/id/assets/application-5ca67fada3b3c6dbd74349c93e62fe84ca263220fdde846145f9dcd75ab15772.css
  src/oc-id/public/id/assets/application-5ca67fada3b3c6dbd74349c93e62fe84ca263220fdde846145f9dcd75ab15772.css.gz
  src/oc-id/public/id/assets/chef-web-core-0d122e190590784d80d27951242cea5c0ef780dbca214f11c74bbf7975e463b9.css
  src/oc-id/public/id/assets/chef-web-core-0d122e190590784d80d27951242cea5c0ef780dbca214f11c74bbf7975e463b9.css.gz
  src/oc-id/public/id/assets/chef-web-core-a84c987e0daebadf34bfaf96aa7428896fc82595f3f14e61ae16765a48eb9015.js
  src/oc-id/public/id/assets/chef-web-core-a84c987e0daebadf34bfaf96aa7428896fc82595f3f14e61ae16765a48eb9015.js.gz
  src/oc-id/public/id/assets/doorkeeper/admin/application-0f824121832679ca43adaca1ca6a00ce92898755124a181c5cdb7642a395b8c4.css
  src/oc-id/public/id/assets/doorkeeper/admin/application-0f824121832679ca43adaca1ca6a00ce92898755124a181c5cdb7642a395b8c4.css.gz
  src/oc-id/public/id/assets/doorkeeper/application-610e7e3db623af7276f6770c56b8822a5fa28162ed1debf6c28b84ac231f3508.css
  src/oc-id/public/id/assets/doorkeeper/application-610e7e3db623af7276f6770c56b8822a5fa28162ed1debf6c28b84ac231f3508.css.gz
  src/oc-id/public/id/assets/foundation-icons-2526c3b0bd60d6f29e38c0f734da7e4ba18118bc49e0dc28c093c928a165823d.eot
  src/oc-id/public/id/assets/foundation-icons-2526c3b0bd60d6f29e38c0f734da7e4ba18118bc49e0dc28c093c928a165823d.eot.gz
  src/oc-id/public/id/assets/foundation-icons-25761227484178e75ba2a3687530fd51643c5467e1cb0f2c22c87bc4ac3508c7.woff
  src/oc-id/public/id/assets/foundation-icons-57c83b3cc4782ae9a77c5b0b0429181dcbaab29e5551d6cdc3351f982626cc1d.ttf
  src/oc-id/public/id/assets/foundation-icons-57c83b3cc4782ae9a77c5b0b0429181dcbaab29e5551d6cdc3351f982626cc1d.ttf.gz
  src/oc-id/public/id/assets/foundation-icons-77d9b34b9749ca930fcacd3fe5b3b786fa7885737f78ac05563b7db03844d291.svg
  src/oc-id/public/id/assets/foundation-icons-77d9b34b9749ca930fcacd3fe5b3b786fa7885737f78ac05563b7db03844d291.svg.gz
  src/oc-id/public/id/assets/github-6279ae221a81d5d76d761ed3368e3043b3368d68f0a8a114a410d67ae880e2e9.css
  src/oc-id/public/id/assets/github-6279ae221a81d5d76d761ed3368e3043b3368d68f0a8a114a410d67ae880e2e9.css.gz
  src/oc-id/public/id/assets/guide-1aba2cbb60e7d2bb75e10a79aa010b4fcb39d81610e16ceda9fd216ead9141d4.css
  src/oc-id/public/id/assets/guide-1aba2cbb60e7d2bb75e10a79aa010b4fcb39d81610e16ceda9fd216ead9141d4.css.gz
  src/oc-id/public/id/assets/manifest-b4bf6e57a53c2bdb55b8998cc94cd00883793c1c37c5e5aea3ef6749b4f6d92b.js
  src/oc-id/public/id/assets/manifest-b4bf6e57a53c2bdb55b8998cc94cd00883793c1c37c5e5aea3ef6749b4f6d92b.js.gz
  src/oc-id/spec/controllers/password_resets_controller_spec.rb
  src/oc-id/spec/controllers/profiles_controller_spec.rb
  src/oc-id/spec/controllers/v1/health_controller_spec.rb
  src/oc-id/spec/controllers/zendesks_controller_spec.rb
Labels: Expeditor: Bump Version Minor

#2545 Document update for new allow_email_update_only_from_manage config
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Expeditor: Skip Omnibus

#2581 Update dependabot to update the cookbook gemfile
  .github/dependabot.yml
Labels: Expeditor: Skip All

#2594 Add Brakeman scanning of oc-id
  .github/workflows/brakeman-analysis.yml
Labels: Expeditor: Skip All

#2596 Exclude the habitat directory in the brakeman scans
  .github/workflows/brakeman-analysis.yml
Labels: Expeditor: Skip All

#2557 Add a note to help fix reindex errors seen in fips env when nginx['enable_non_ssl'] = false
  docs-chef-io/content/server/ctl_chef_server.md
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Aspect: Documentation, Documentation

#2618 Setup dependabot for oc-id
  .github/dependabot.yml
Labels: Expeditor: Skip All

#2651 Further expand the information we gather in the gather-logs script
  omnibus/files/private-chef-scripts/gather-logs
Labels: Expeditor: Bump Version Minor

#2639 Clarify release process documentation.
  RELEASE_PROCESS.md
Labels: Expeditor: Skip All

#2668 Remove manual docs update from release process
  RELEASE_PROCESS.md
Labels: Expeditor: Skip All

#2671 gather-logs: Avoid errors in console on Ubuntu
  omnibus/files/private-chef-scripts/gather-logs
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
