Repository chef/chef-server, pull requests merged in 2021-09, with the labels that each got.

#2785 Upgrade database instruction corrections
  docs-chef-io/content/server/upgrades.md
Labels: Expeditor: Skip All

#2788 Move server_orgs page to server menu.
  docs-chef-io/content/server/server_orgs.md
Labels: Documentation

#2790 Cleanup markdown and fix some lints.
  docs-chef-io/content/server/upgrades.md
Labels: Documentation

#2809 EOL 13 docs
  docs-chef-io/content/server/server_security.md
  docs-chef-io/content/server/upgrades.md
Labels: Documentation

#2810 Fix branch name in docs makefile
  docs-chef-io/Makefile
Labels: Documentation

#2828 Replaced /main/ from /master/
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Aspect: Documentation
