Repository chef/chef-server, pull requests merged in 2021-08, with the labels that each got.

#2577 Update PostgreSQL to 13.3
  dev/scripts/provision-postgres.sh
  omnibus/config/software/oc_id.rb
  omnibus/config/software/partybus.rb
  omnibus/config/software/perl_pg_driver.rb
  omnibus/config/software/postgresql13.rb
  omnibus/config/software/postgresql96-bin.rb
  omnibus/config/software/private-chef-ctl.rb
  omnibus/config/software/server-complete.rb
  omnibus/files/private-chef-cookbooks/private-chef/attributes/default.rb
  omnibus/files/private-chef-cookbooks/private-chef/libraries/preflight_postgres_validator.rb
  omnibus/files/private-chef-cookbooks/private-chef/recipes/postgres_upgrade_cleanup.rb
  omnibus/files/private-chef-cookbooks/private-chef/resources/pg_upgrade.rb
  omnibus/files/private-chef-cookbooks/private-chef/spec/libraries/preflight_postgres_validator_spec.rb
  omnibus/files/private-chef-cookbooks/private-chef/templates/default/postgresql.conf.erb
  scripts/bk_tests/bk_install.sh
  src/bookshelf/Makefile.db
  src/oc_bifrost/Makefile.db
  src/oc_erchef/Makefile.db
  src/oc_erchef/apps/oc_chef_wm/itest/oc_chef_wm_cookbook_artifact_SUITE.erl
Labels: Expeditor: Bump Version Minor

#2706 More Chef-Server Upgrade Docs
  docs-chef-io/content/server/server_backup_restore.md
  docs-chef-io/content/server/upgrades.md
Labels: Aspect: Documentation, Documentation

#2723 Minor docs cleanup and homogenization.
  docs-chef-io/content/server/upgrades.md
Labels: Aspect: Documentation, Documentation

#2699 Adding docs for upgrade steps to 14.8
  docs-chef-io/content/server/upgrades.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Aspect: Documentation, Documentation

#2728 Minor docs edit
  docs-chef-io/content/server/upgrades.md
Labels: Aspect: Documentation, Documentation

#2761 Use https URLs for the community slack site in docs
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.md
  README.md
Labels: Expeditor: Skip All

#2749 Refine instructions for external PostgreSQL upgrade
  docs-chef-io/content/server/upgrades.md
Labels: Expeditor: Skip All, Documentation
