Repository chef/chef-server, pull requests merged in 2021-05, with the labels that each got.

#2452 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#2465 Update Hugo version and fix Netlify build commands
  docs-chef-io/Makefile
  docs-chef-io/netlify.toml
Labels: Documentation

#2453 updating Gemfile to support environment variables
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#2492 Remove the need for rest-client and mixlib-install in omnibus
  omnibus/config/software/mixlib-install.rb
  omnibus/config/software/private-chef-ctl.rb
  omnibus/config/software/rest-client-gem.rb
  src/chef-server-ctl/Gemfile.lock
  src/chef-server-ctl/chef-server-ctl.gemspec
Labels: Expeditor: Bump Version Minor
