Repository chef/chef-server, pull requests merged in 2021-02, with the labels that each got.

#2208 updated the server upgrade page refering to PR:2809
  docs-chef-io/content/server/upgrade_server.md
Labels: Aspect: Documentation

#2245 add metadata to every page in docs.chef.io/server/
  docs-chef-io/content/server/_index.md
Labels: Aspect: Documentation, Documentation

#2243 add missing images in docs
  docs-chef-io/static/images/server/server_components_postgresql_14.svg
  docs-chef-io/static/images/server/server_components_s3_14.svg
Labels: Aspect: Documentation

#2255 Add Gemfile.lock for omnibus
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#2266 Fix link
  docs-chef-io/content/server/install_server_pre.md
Labels: Aspect: Documentation, Documentation

#2267 Link to docs.chef.io for release notes
  PRIOR_RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: Expeditor: Skip All

#2246 Add docs for including version in status endpoint and configuring nginx time_format
  docs-chef-io/content/server/v14_0/config_rb_server_optional_settings.md
Labels: Aspect: Documentation, Documentation

#2273 Make mtls doc a draft version
  docs-chef-io/content/server/mutual_tls.md
Labels: Aspect: Documentation, Documentation

#2269 Change docs version to 14
  docs-chef-io/config.toml
  docs-chef-io/content/server/v14/config_rb_server.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/index.md
  docs-chef-io/content/server/v14/reusable_text/config_add_condition.md
  docs-chef-io/content/server/v14/reusable_text/config_rb_server_settings_ldap.md
  docs-chef-io/content/server/v14/reusable_text/config_rb_server_summary.md
  docs-chef-io/content/server/v14/reusable_text/notes_config_rb_server_must_reconfigure.md
  docs-chef-io/content/server/v14/reusable_text/notes_server_aws_cookbook_storage.md
  docs-chef-io/content/server/v14/reusable_text/server_services_bifrost.md
  docs-chef-io/content/server/v14/reusable_text/server_services_bookshelf.md
  docs-chef-io/content/server/v14/reusable_text/server_services_erchef.md
  docs-chef-io/content/server/v14/reusable_text/server_services_expander.md
  docs-chef-io/content/server/v14/reusable_text/server_services_oc_id.md
  docs-chef-io/content/server/v14/reusable_text/server_services_postgresql.md
  docs-chef-io/content/server/v14/reusable_text/server_services_rabbitmq.md
  docs-chef-io/content/server/v14/reusable_text/server_services_redis.md
  docs-chef-io/content/server/v14/reusable_text/server_services_solr4.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_bookshelf.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_erchef.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_expander.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_general.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_nginx.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_postgresql.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr_available_memory.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr_large_node_sizes.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_solr_update_frequency.md
  docs-chef-io/content/server/v14/reusable_text/settings_strict_search_result_acls.md
Labels: Aspect: Documentation, Documentation

#2272 Improve the Discourse release announcement script
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#2274 Chef -> Chef Infra in the docs
  docs-chef-io/content/server/_index.md
Labels: Aspect: Documentation, Documentation, Expeditor: Skip Version Bump

#2276 move new config options in docs
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Aspect: Documentation, Documentation, Expeditor: Skip Version Bump
