Repository chef/chef-server, pull requests merged in 2021-12, with the labels that each got.

#3007 Remove the auto issue locker bot
  .github/lock.yml
Labels: Expeditor: Skip All

#3006 Auto label docs PRs for the docs team
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Expeditor: Skip All

#3020 Remove the Chef Backend deprecation warning from tiered
  docs-chef-io/content/server/install_server_tiered.md
Labels: Documentation

#3036 Shortcodes directory
  docs-chef-io/layouts/shortcodes/README.md
Labels: Expeditor: Skip All, Documentation

#3044 Bump hugo version to 0.91.2
  docs-chef-io/netlify.toml
Labels: Aspect: Documentation, Documentation

#3025 Update FrequentTasks.md
  dev-docs/FrequentTasks.md
Labels: Documentation

#3045 Fix downloads links
  docs-chef-io/content/server/install_server.md
  docs-chef-io/content/server/install_server_ha.md
  docs-chef-io/content/server/install_server_tiered.md
Labels: Aspect: Documentation, Documentation

#3046 More downloads links
  docs-chef-io/content/server/upgrades.md
Labels: Aspect: Documentation, Documentation
