Repository chef/chef-server, pull requests merged in 2022-02, with the labels that each got.

#3145 Add 'Users' nav grouping for User Managment
  docs-chef-io/content/server/auth.md
  docs-chef-io/content/server/server_orgs.md
  docs-chef-io/content/server/server_users.md
Labels: Documentation

#3085 Add failure example
  dev-docs/BUILD_FAILURES.md
Labels: Expeditor: Skip All

#3180 Fix the jvm_opts documentation
  docs-chef-io/content/server/config_rb_backend.md
  docs-chef-io/content/server/ctl_chef_backend.md
Labels: Expeditor: Skip All, Documentation

#3063 Updated PG upgrade steps with analyze commands
  docs-chef-io/Makefile
  docs-chef-io/content/server/upgrades.md
  docs-chef-io/layouts/shortcodes/README.md
  docs-chef-io/layouts/shortcodes/server_analyze_postgresql_db.md
Labels: Aspect: Documentation, Documentation

#3143 Update Chef Backend upgrade to 3.0 instructions
  docs-chef-io/content/server/upgrade_server_ha_v2.md
Labels: Documentation

#3196 rebuild-migration-level subcommand not documented
  docs-chef-io/content/server/ctl_chef_server.md
Labels: Aspect: Documentation, Documentation

#2898 Adding docs for policy APIs and chef-zero
  dev-docs/HOW_THINGS_WORK.md
  docs-chef-io/content/server/api_chef_server.md
Labels: Aspect: Documentation, Documentation
