Repository chef/chef-server, pull requests merged in 2022-01, with the labels that each got.

#3008 Update RELEASE_PROCESS.md
  RELEASE_PROCESS.md
Labels: Documentation

#3072 Update address ranges in use for vbox compat
  dev/README.md
  dev/Vagrantfile
  dev/config.yml.example
  dev/cookbooks/provisioning/templates/default/hosts.erb
  dev/scripts/provision-postgres.sh
  dev/scripts/reporting/reporting-dvm-preflight.sh
  dev/scripts/reporting/reporting-preflight.sh
Labels: Expeditor: Skip Version Bump

#3082 Bump license_scout to fix sqitch build issue
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#3091 Add periods to all help descriptions in chef-server-ctl
  src/chef-server-ctl/plugins/backup.rb
  src/chef-server-ctl/plugins/check_config.rb
  src/chef-server-ctl/plugins/filtered-dump.rb
  src/chef-server-ctl/plugins/gather-logs.rb
  src/chef-server-ctl/plugins/ha.rb
  src/chef-server-ctl/plugins/install.rb
  src/chef-server-ctl/plugins/key_control.rb
  src/chef-server-ctl/plugins/maintenance.rb
  src/chef-server-ctl/plugins/oc_id_show_app.rb
  src/chef-server-ctl/plugins/reindex.rb
  src/chef-server-ctl/plugins/rotate_credentials.rb
  src/chef-server-ctl/plugins/secrets.rb
Labels: Aspect: Documentation, Documentation

#3100 Fix dead links
  docs-chef-io/content/server/server_orgs.md
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v13_2/reusable_text/server_tuning_nginx.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_nginx.md
Labels: Aspect: Documentation, Documentation

#3089 Fix some notes in the chef-server.rb file docs
  docs-chef-io/content/server/server_tuning.md
  docs-chef-io/content/server/v13_2/config_rb_server.md
  docs-chef-io/content/server/v13_2/reusable_text/config_rb_server_settings_ldap.md
  docs-chef-io/content/server/v13_2/reusable_text/notes_config_rb_server_must_reconfigure.md
  docs-chef-io/content/server/v13_2/reusable_text/server_tuning_nginx.md
  docs-chef-io/content/server/v14/config_rb_server.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/reusable_text/notes_config_rb_server_must_reconfigure.md
  docs-chef-io/content/server/v14/reusable_text/server_tuning_nginx.md
Labels: Aspect: Documentation, Documentation

#3081 Remove documentation for flavor
  docs-chef-io/content/server/v13_2/config_rb_server_optional_settings.md
  docs-chef-io/content/server/v14/config_rb_server_optional_settings.md
Labels: Documentation

#3116 Update README.md
  README.md
Labels: Expeditor: Skip All, Documentation

#3120 Remove/Edit references to Chef Manage
  docs-chef-io/content/server/server_orgs.md
  docs-chef-io/content/server/upgrades.md
  docs-chef-io/content/server/v13_2/reusable_text/config_rb_server_settings_ldap.md
Labels: Expeditor: Skip All, Documentation
